.jumbotron {
  background-color: #f2b50c;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f2b50c;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-service {
  flex: 1 225px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-revisar {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
