$orange:#f2b50c;
$red:#f2b50c;
$green:#11bf11;


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin relleno($top, $right, $bottom, $left){
	
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;

}


.jumbotron{
	background-color: $orange;
	color: black;
	@include margenes(50px, 0px);
}

footer{
	@include relleno (10px,10px, 0px, 10px)
	background-color:  $orange;;
	@include margenes(10px, 0px);
}

.card-service{
	flex: 1 225px;
	@include margenes(10px, 0px);

}

.btn-revisar{
	width: 100%;
	border-radius: 0px;
	
}

.footer-addres-icon{
	@include relleno (0px,10px, 0px, 0px)
	
}
.tab-content{
	@include relleno (10px,0px, 0px, 0px)
	
}